.orderItem_container {
width: 633px;
height: 218px;
float: left;

background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
border-radius: 30px;

}

.orderItem_container img {
width: 146px;
height: 136px;
margin-left: 18px;
margin-top: 18px;
float: left;
  overflow: hidden;
}

.text {
    overflow: hidden;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #1C1C27;
}

.price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #AAAAAA;


}

.deleteOrderItem {
    float: right;
    margin-top: 10px;

}

.add_delete {
    /* +- */
    float: left;

}

.button_item {
    /* Ellipse 4 */

width: 30px;
height: 30px;
border-radius: 50%;
background: #FFCE7F;
/* Vector */

color: #FFFFFF;
}

