#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.container {
    position: relative;
    min-height: 100%;
}

.content {
    padding-top: 60px;
    flex-grow: 1;
    max-width: 100%;
    margin: 0 auto;
}